@font-face {
	font-family: "Nunito";
	src: url(/font/Nunito/Nunito-VariableFont_wght.ttf);
	margin: 0 auto;
}
@font-face {
	font-family: "Oxygen";
	src: url(/font/Oxygen/Oxygen-Bold.ttf);
	margin: 0 auto;
}
body{
	background-color: #fff;
	font-family: "Nunito";
	margin: 0;
}
header{
	width: auto;
}
.header_block{
	display: flex;
	justify-content: space-between;
	width: 1182px;
	height: 57px;
	margin: 0 auto 0 auto;
	padding-top: 51px;
}
.logoItem{
	display: flex;
	align-items: center;
	width: 227px;
	height: 32px;
	margin: auto 0;
}
.navBlock{
	position: relative;
	display: flex;
	width: 407px;
	margin: auto 0;
}
.nav_men-header{
	display: block;
}
/* burger */
.burger-btn {
	display: none;
	width: 30px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.burger-btn span {
	position: absolute;
	height: 2px;
	width: 100%;
	background: #333;
	left: 0;
	transition: all 0.3s ease;
}

.burger-btn span:nth-child(1) {
	top: 0;
}

.burger-btn span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.burger-btn span:nth-child(3) {
	bottom: 0;
}

.burger-btn.active span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.burger-btn.active span:nth-child(2) {
	opacity: 0;
}

.burger-btn.active span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}
/* burger */
.navSpisok{
	display: flex;
	list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
.itemNavLink a{
	text-decoration: none;
	color:black;
	font-size: 16px;
	margin-right: 40px;
}

.basketLink{
	width: 18px;
	height: 20px;
	margin: auto 0;
}
/* main */
.mainBlock{
	width: 1240px;
	margin: 0 auto;
}
.mainInfoBlock{
	width: 	1230px;
	margin: 0 auto;
	display: flex;
	margin-top: 90px;
	align-items: center;
}
.textBlock{
	display: flex;
	flex-direction: column;
	width: 505px;
	height: 240px;
}
.mainText__guide{
	font-size: 48px;
	color: #3D3D3D;
}
.bgBlock{
	background-image: url(/images/guideBg.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 628px;
	height: 418px;
}
.guideLastBlock{
	width: 1270px;
	margin: 0 auto;
	height: 794px;
	display: flex;
	flex-wrap: wrap;
}
.itemCardBlock{
	width: 396px;
	height: 367px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 26px;
}
.itemCardBlock:nth-child(1) .bgBlockCard{
	background-image: url(/images/Rectangle\ 19271.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 396px;
	height: 275px;
}
.itemCardBlock:nth-child(2) .bgBlockCard{
	background-image: url(/images/Rectangle\ 19271\ \(1\).png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 396px;
	height: 275px;
}
.itemCardBlock:nth-child(3) .bgBlockCard{
	background-image: url(/images/Rectangle\ 19271\ \(2\).png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 396px;
	height: 275px;
}
.itemCardBlock:nth-child(4) .bgBlockCard{
	background-image: url(/images/Rectangle\ 19271\ \(3\).png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 396px;
	height: 275px;
}
.itemCardBlock:nth-child(5) .bgBlockCard{
	background-image: url(/images/Rectangle\ 19271\ \(4\).png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 396px;
	height: 275px;
}
.itemCardBlock:nth-child(6) .bgBlockCard{
	background-image: url(/images/Rectangle\ 19271\ \(5\).png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 396px;
	height: 275px;
}
.textBlockCard{
	font-size: 20px;
	color: #404040;
}
/* footer */
footer{
	width: auto;
}
.footer-v-3 {
  background: #404040;
  padding: 0px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 158px;
	width: auto;
	margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.footer-auto-layout {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: auto;
  position: relative;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-300, #eff0f6);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 1440px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.footer-bottom {
  flex-shrink: 0;
  width: 1229.62px;
  height: 40.58px;
  position: static;
}
.copyright {
  color: rgba(255, 255, 255, 0.64);
  text-align: right;
  font-family: var(
    --text-single-200-regular-font-family,
    "DmSans-Regular",
    sans-serif
  );
  font-size: var(--text-single-200-regular-font-size, 18px);
  line-height: var(--text-single-200-regular-line-height, 20px);
  font-weight: var(--text-single-200-regular-font-weight, 400);
  position: absolute;
  left: 1073.81px;
  top: 60.58px;
}
.logo-3 {
  width: 203px;
  height: 22px;
  position: static;
}
.logo-1-1 {
  width: 203px;
  height: 22px;
  position: absolute;
  left: 105.19px;
  top: 60px;
  object-fit: cover;
  aspect-ratio: 203/22;
}