@media (max-width: 767px){
	*{
		margin: 0px;
		padding: 0px;
	}
	body{
		font-family: "Nunito";
		height: 7000px;
	}
	.burger-btn {
      display: block;
  }
  
  .nav_men-header {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
  
  .nav_men-header.active {
    max-height: 500px;
  }
  
  .navSpisok {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }
	.bgColor{
		width: 390px;
	}
	.navBlock{
		justify-content: end;
		margin-right: 20px;
	}
	.itemNavLink a {
		text-decoration: none;
		color: #333;
		font-size: 18px;
}
	.bgContainerHead{
		background-image: url(/images/mainBg.png);
		background-repeat: no-repeat;
		background-size: 390px 779px;
		margin: 0 auto;
		width: 390px;
	}
	header{
		width: 390px;
	}
	body{
		height: 2000px;
	}
	.header_block{
		width: 390px;
	}
	.basketLink{
		display: none;
	}
	/* main */
	.mainBlock{
		width: 390px;
	}
	.mainInfoBlock{
		width: 390px;
		flex-direction: column;
	}
	.textBlock{
		width: 390px;
		height: max-content;
		text-align: center;
		margin-bottom: 50px;
	}
	.bgBlock{
		display: none;
	}
	.guideLastBlock{
		width: 390px;
		height: max-content;
		margin-bottom: 50px;
	}
/* footer */
.footer-v-3{
	display: block;
	width: auto;
}
.footer-bottom{
	flex-direction: column;
	width: 390px;
	margin: 0 auto;
}
.footer-auto-layout{
	margin: 0 auto;
	width: 390px;
}
.copyright{
	width: max-content;
}
}