@media (max-width: 767px){
	*{
		margin: 0px;
		padding: 0px;
	}
	body{
		font-family: "Nunito";
		height: 700px;
	}
	.burger-btn {
      display: block;
  }
  
  .nav_men-header {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
  
  .nav_men-header.active {
    max-height: 500px;
  }
  
  .navSpisok {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }
	.bgColor{
		width: 390px;
	}
	.navBlock{
		justify-content: end;
		margin-right: 20px;
	}
	.itemNavLink a {
		text-decoration: none;
		color: #333;
		font-size: 18px;
}
	.bgContainerHead{
		background-image: url(/images/mainBg.png);
		background-repeat: no-repeat;
		background-size: 390px 779px;
		margin: 0 auto;
		width: 390px;
	}
	header{
		width: 390px;
	}
	body{
		
	}
	.header_block{
		width: 390px;
	}
	.basketLink{
		display: none;
	}
	/* main */
	.nameItems{
		max-width: 390px;
		text-align: center;
		align-items: center;
		justify-content: space-around;
		padding: 0;
	}
	.productItem{
		display: none;
	}
	.mainBlock{
		width: 390px;
	}
	.inCart{
		width: 390px;
		margin: 0 auto;
	}
	.itemCart{
		width: 390px;
	}
	.mainItemsBlock{
		width: 390px;
		height: max-content;
	}
	.tegNameItems:nth-child(1){
		display: none;
	}
	.tegNameItems:nth-child(5){
		display: none;
	}

	._1{
		display: none;
	}
	._500{
		display: none;
	}
	.vector-220{
		display: none;
	}
	.bgItem{
		position: relative;
		right: 90px;
	}
	.ImgItem{
		width: 50px;
		height: 50px;
	}
	.div{
		left: 60px;
	}
		/* footer */
		.footer-v-3{
			display: block;
			width: auto;
		}
		.footer-bottom{
			flex-direction: column;
			width: 390px;
			margin: 0 auto;
		}
		.footer-auto-layout{
			margin: 0 auto;
			width: 390px;
		}
		.copyright{
			width: max-content;
		}
	}
	
}