@media (max-width: 767px){
	*{
		margin: 0px;
		padding: 0px;
	}
	body{
		font-family: "Nunito";
		height: 7000px;
	}
	.burger-btn {
      display: block;
  }
  
  .nav_men-header {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
  
  .nav_men-header.active {
    max-height: 500px;
  }
  
  .navSpisok {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }
	.bgColor{
		width: 390px;
	}
	.navBlock{
		justify-content: end;
		margin-right: 20px;
	}
	.itemNavLink a {
		text-decoration: none;
		color: #333;
		font-size: 18px;
}
	.bgContainerHead{
		background-image: url(/images/mainBg.png);
		background-repeat: no-repeat;
		background-size: 390px 779px;
		margin: 0 auto;
		width: 390px;
	}
	header{
		width: 390px;
	}
	body{
		height: 1700px;
	}
	.header_block{
		width: 390px;
	}
	.basketLink{
		display: none;
	}
	/* main */
	.mainNewsBlock{
		width: 390px;
	}
	.mainTextNews{
		text-align: center;
	}
	.mainInfoBlock{
		width: 390px;
		display: flex;
		flex-direction: column;
	}
	.bgNewsBlock{
		width: 390px;
		height: 400px;
	}
	.textForNewBlock{
		width: inherit;
		height: 500px;
	}
	.mainText__textForNewBlock{
		width: 390px;
		text-align: center;
	}
	.text__textForNewBlock{
		width: inherit;
		text-align: center;
		height: max-content;
	}
	.lastNewsBlock{
		width: 390px;
		height: max-content;
		display: flex;
		flex-direction: column;
	}
	.bgNews_block{
		width: 390px;
	}
	.bodyCardBlock_blockNews{
		width: 390px;
	}
	/* footer */
	.footer-v-3{
		display: block;
		width: auto;
	}
	.footer-bottom{
		flex-direction: column;
		width: 390px;
		margin: 0 auto;
	}
	.footer-auto-layout{
		margin: 0 auto;
		width: 390px;
	}
	.copyright{
		width: max-content;
	}
}
